<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="oath:guce:product-eu" content="true"/>
  <meta name="oath:guce:consent-host" content="guce.yahoo.com"/>
  <meta name="oath:guce:report-only" content="false"/>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://s.yimg.com/oa/">
  <script async src="https://s.yimg.com/oa/guce.js"></script>
  <title>Ad Reporter</title>
  <link rel="icon" type="image/png" href="public/assets/oathfavicon_16x16_aa_v2.png" sizes="16x16">
  <link rel="stylesheet"
        href="public/css/bootstrap/3.3.7/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"/>
  <link rel="stylesheet" href="public/css/angularjs/1.6.4/angular-csp.css" />
  <link rel="stylesheet" href="public/css/datetime-range.min.css" />
  <link rel="stylesheet" href="public/css/style.css"/>
</head>
<body id="ad-reporter-body">
<a href="https://www.oath.com/"><img id="ad-reporter-logo" src="public/assets/oath.png"/></a>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h1>Ad Reporter</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>At Oath, we take steps everyday to protect users against malware and aim to make a
            safer internet experience.
            Our goal is a relevant, engaging, immersive ad experience on Oath sites.
            Ads that violate Oath policy are prohibited.
            We take policy violations seriously.
            If there is an ad, content, or url that is malicious or shows malicious behaviour,
            we ask users to report these immediately to our customer support team to assist. </p>

          <p>What should a user do if they see a malicious ad?</p>
          <ol>
            <li>It’s good safety to always use anti-malware software as this will help block
              malicious ads from installing malware. If you encounter a malicious ad, run the
              anti-malware software as soon as possible. downloaded in your system
            </li>
            <li>Submit the form below for support team to debug further</li>
            <li> Clear all browser cookie</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">Identifying Malicious Activity</div>
          <div class="panel-body">
            <p> Malware is malicious software that may attempt to steal sensitive info from your
              computer,
              send spam, commit fraud, or, in this case, display ads on web pages you view.
              This type of advertisement software is usually bundled with other free downloads and
              installed without your knowledge.
              Be sure to run a scan on your computer with trusted antivirus software. If the scan
              detects any suspicious programs or applications, get rid of them immediately.
              Normally, the specific software (malware) that displays advertisements on webpages
              will be installed as an add-on,
              extension, or plug-in to your Web browser.
              Removing malware can be a difficult and complex process that will vary by the type of
              malware you have.</p>

            <p>There are several websites that provide information about removing this malicious
              software (English only)</p>
            <ul>
              <li>
                <a href="https://www.pcworld.com/article/243818/security/how-to-remove-malware-from-your-windows-pc.html" target="_blank">PCWorld</a>
              </li>
              <li>
                <a href="https://malwaretips.com/blogs/remove-ads-not-by-this-site/" target="_blank">MalwareTips</a>
              </li>
              <li><a href="https://lifehacker.com/5227896/five-best-malware-removal-tools" target="_blank">lifehacker</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div ng-app="oath.adReporter.adReporterForm" ng-csp ng-cloak class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Ad Feedback form</div>
        <div class="panel-body" ng-controller="AdReporterFormController as vm">
          <form ng-init="vm.feedback.crumb = 'tMFyEaOnZ/F'"
           ng-submit="vm.submitFeedback()">
            <div class="form-group" ng-class="{'has-error': !(vm.isNameValid)}">
              <label for="name">Name</label>
              <input id="name"
                     ng-model="vm.feedback.name" ng-change="vm.validateName()"
                     type="text" class="form-control"
                     placeholder="Name" required/>
            </div>
            <div class="form-group" ng-class="{'has-error': !(vm.isEmailValid)}">
              <label for="email">Email address</label>
              <input id="email"
                     ng-model="vm.feedback.email" ng-change="vm.validateEmail()"
                     type="email" class="form-control"
                     placeholder="Email" required/>
            </div>
            <div class="form-group">
              <label>Date range ad seen</label>
              <datetime-range start="vm.feedback.dateAdViewedStart"
                              end="vm.feedback.dateAdViewedEnd"
                              max-date="vm.maxDate">
              </datetime-range>
            </div>
            <div class="form-group">
              <label for="screenshot">Screenshot</label>
              <input id="screenshot" ng-model="vm.feedback.screenshot" type="file" accept="image/*"/>
            </div>
            <div class="form-group">
              <label for="comments">Comments</label>
              <p ng-show="vm.isCommentHelpTextShown" class="help-block">Please provide as much details which would help us reproduce the issue.
                Example, page url where you saw the malware, location, description of the ad etc</p>
              <textarea id="comments" ng-model="vm.feedback.comments" ng-change="vm.hideCommentHelpText()" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-md-offset-8 col-md-2">
                  <input ng-disabled="vm.processingRequest"
                    id="ad-reporter-submit"
                    type="submit"
                    value = "Submit"
                    class="btn btn-primary"/>
                </div>

                <div class="col-xs-12 col-md-2">
                  <input ng-disabled="vm.processingRequest"
                      type="reset" class="btn btn-default"/>
                </div>
                </div>
            </div>
            <div ng-show="vm.processingRequest" class="alert alert-info" role="alert">Processing your feedback
              ...
            </div>
            <div ng-show="vm.sucessfulRequest" class="alert alert-success" role="alert">Your feedback has been processed succesfully. thank you. Your case id is <span ng-bind="vm.feedbackId"></span></div>
            <div ng-show="vm.requestError" class="alert alert-danger" role="alert">An error has has
              occurred while processing your request
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="public/lib/jquery/3.2.1/jquery.min.js"></script>
<script src="public/lib/angularjs/1.6.6/angular.min.js"></script>
<script src="public/lib/moment.js/2.10.6/moment-with-locales.js"></script>
<script src="public/lib/angularjs/1.6.6/angular-cookies.min.js"></script>
<script src="public/lib/angular-file-input.min.js"></script>
<script src="public/lib/datetime-range.min.js"></script>
<script src="public/adreporterform/adReporterFormModule.js"></script>
<script src="public/adreporterform/adReporterFormController.js"></script>
<script src="public/adreporterform/adReporterFormService.js"></script>
<script src="config.js"></script>
</body>
</html>